/* estilos Milfer */


/* ------Estilos display flexbox (caracteristicas ciclas) ----------------------*/

@media(min-width:580px) {
    .container-1 {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        align-content: space-between;
    }
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.container-box {
    flex-basis: 25%;
    text-align: center;
}

.container-1 div {
    border: 1px rgb(27, 173, 22) groove;
    padding: 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 10px;
    border-radius: 10px;
}

.h3 {
    color: rgb(27, 173, 22);
}


/* ----------------Estilos footer ----------------------*/

.containerFooter {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 14px;
    padding: 20px;
    background-color: rgb(27, 173, 22);
    width: 100%;
    display: flex;
    margin: auto;
    align-content: space-around;
    justify-content: space-between;
}

footer {
    color: rgb(255, 255, 255);
}

.column1 {
    width: 400px;
    margin: 10px;
    max-width: 100%;
}

.column1Div {
    line-height: 25px;
}

.column2 {
    width: 400px;
    margin: 10px;
    max-width: 400px;
}

.row {
    margin-top: 20px;
    display: flex;
}

.row img {
    width: 35px;
    height: 35px;
}

.row label {
    margin-top: 10px;
    margin-left: 10px;
}

.column3 {
    width: 400px;
    margin: 10px;
    max-width: 400px;
}

.row2 {
    margin-top: 35px;
    display: flex;
    max-width: 400px;
}

.row2 img {
    width: 35px;
    height: 35px;
}

.row2 label {
    margin-left: 20px;
    margin-top: 10px;
    max-width: 150px;
}

@media screen and (max-width:1100px) {
    .containerFooter {
        display: flex;
        flex-wrap: wrap;
    }
    .column1{
        width: 100%;
    }
    .column2, .column3{
        display: flex;
        flex-direction: column;
    }
}


/* ----------------animacion display flexbox------------------- */

.bounce {
    -webkit-animation-name: bounce;
    animation-name: bounce;
    -webkit-transform-origin: center bottom;
    -ms-transform-origin: center bottom;
    transform-origin: center bottom;
    -webkit-animation-duration: 1s;
    animation-duration: 1.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes bounce {
    0%,
    20%,
    53%,
    80%,
    100% {
        -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    40%,
    43% {
        -webkit-transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
        transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
        -webkit-transform: translate3d(0, -30px, 0);
        transform: translate3d(0, -30px, 0);
    }
    70% {
        -webkit-transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
        transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
        -webkit-transform: translate3d(0, -15px, 0);
        transform: translate3d(0, -15px, 0);
    }
    90% {
        -webkit-transform: translate3d(0, -4px, 0);
        transform: translate3d(0, -4px, 0);
    }
}

@keyframes bounce {
    0%,
    20%,
    53%,
    80%,
    100% {
        -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    40%,
    43% {
        -webkit-transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
        transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
        -webkit-transform: translate3d(0, -30px, 0);
        transform: translate3d(0, -30px, 0);
    }
    70% {
        -webkit-transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
        transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
        -webkit-transform: translate3d(0, -15px, 0);
        transform: translate3d(0, -15px, 0);
    }
    90% {
        -webkit-transform: translate3d(0, -4px, 0);
        transform: translate3d(0, -4px, 0);
    }
}